mixin plan_tab(delay, title, price, indexval, activeclass)
	.col.col-md-3
		.card.wow.flipInY(data-wow-duration="1000ms", data-wow-delay= delay + "ms", data-wow-offset="100" class!= activeclass)
			.icon 1
			h3!= title
			.price!= price
				| &nbsp;kr
			if indexval
				ul
					each val in indexval
						li= val
			else
				block
			button.btn-blue.btn-small(v-on:click="openModalPacket('" + title + "', '" + price + "kr')", data-target="#packet-modal", data-toggle="modal") Boka nu