mixin top-card-content()
	div.b_payment-det.flex.flex-between.flex-center
		div.b_cc 
			span.b_cc-val.hidden Credit card
		div.b_ps.flex.flex-center
			img(src="" + imagePath + "ps/mc.png", alt="Master Card").hidden
			img(src="" + imagePath + "ps/visa.png", alt="Visa")