.section-video
	h2 Välj en trafikskola nära dig som erbjuder en hög standard på utbildning och värnar om vår miljö
	.row
		.col.col-md-6.col-sm-12.col-xs-12
			.video-container.wow.fadeInUp(data-wow-delay="800ms", data-wow-offset="100")
				//img(src="/" + imagePath + "video-1.jpg", alt="video-1")
				iframe(src="https://www.youtube.com/embed/QafXcUBkOTQ?enablejsapi=1&version=3&playerapiid=ytplayer", frameborder="0", allowfullscreen="true", showinfo="0", controls="0")
				.description.flex.flex-vertical-center.flex-between
					p Vägen till körkort
					.play-btn
		.col.col-md-6.col-sm-12.col-12
			.video-container.wow.fadeInUp(data-wow-delay="500ms", data-wow-offset="100")
				//img(src="/" + imagePath + "video-1.jpg", alt="video-2")
				iframe(src="https://www.youtube.com/embed/tshiDexOecE?enablejsapi=1&version=3&playerapiid=ytplayer", frameborder="0", allowfullscreen="true")
				.description.flex.flex-vertical-center.flex-between
					p Vägen till körkort
					.play-btn