.section-charts
	h2 Förarprovstatistik
	p.headline Antal godkända Körprov B som genomförts på Trafikverket, perioden Januari – Juli 2017
	.row.without-line.header-table
		.col.col-md-3

		.col.col-md-3
			p.label Kvinnor
		.col.col-md-3
			p.label Män
		.col.col-md-3
			p.label Totalt
	.row
		.col.col-md-3.flex.flex-vertical-center
			p.label Farsta
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 42
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="45", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 44
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 43
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")

	.row
		.col.col-md-3.flex.flex-vertical-center
			p.label Jakobsberg
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="35", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 37
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="45", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 42
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 41
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")

	.row
		.col.col-md-3.flex.flex-vertical-center
			p.label Sollentuna
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="35", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 38
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 40
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 39
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")

	.row.without-line
		.col.col-md-3.flex.flex-vertical-center
			p.label Södertälje
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 43
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="45", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 45
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="45", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 43
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")

	p.headline Antal godkända Kunskapsprov B som genomförts på Trafikverket, Perioden Januari – Juni 2017

	.row
		.col.col-md-3.flex.flex-vertical-center
			p.label Stockholm
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="45", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 46
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="35", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 38
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 41
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")

	.row
		.col.col-md-3.flex.flex-vertical-center
			p.label Södertälje
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="50", data-wow-delay="500ms", data-wow-offset="60")
				figcaption
				p 48
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="35", data-wow-delay="800ms", data-wow-offset="60")
				figcaption
				p 35
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")
		.col.col-md-3
			figure.chart.wow.fadeInUp(data-percent="40", data-wow-delay="300ms", data-wow-offset="60")
				figcaption
				p 40
					span %
				svg(width="72", height="72")
					circle.outer(cx="154", cy="36", stroke-linecap="round",  r="31", transform="rotate(-90, 95, 95)")