
//- var imagePath = "https://projects.udtech.co/intensivkurs/assets/images/"
- var imagePath = "assets/images/"

include mixins/plan_tab
include mixins/info_block


doctype html
html(lang="en", class="loading")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible")

		block title
			title intensivkurs

		meta(name="description", content="")
		meta(name="viewport", content="width=device-width,initial-scale=1")

		block styles
			//-main styles
			link(rel="stylesheet", href="assets/css/libs.css")
			link(rel="stylesheet", href="assets/css/app.css")

	body
		.page(id="app")
			// block HEADER
			.header.flex
				.map(id="map-layout")
					//img(src="" + imagePath + "map.jpg", alt="map")
				.filter-section(:class="{'open-school-view': schoolViewStatus}")
					.flex.flex-center.header-filter
						h2.logo Västerort Trafikskola
					.body
						h2
							span NÄRHET
							| KVALITET & MILJÖ

						form(method="POST", action="#", v-on:submit.prevent="openSchoolView")
							.drive
								h3 Fordonbehörighet
								.section.flex
									.button-license.b
										input(type="radio", name="license", value="b")
										.wrap-btn
											.icon
												img(src= imagePath + "b.svg", alt="B Logo", class="")
											|B
									.button-license.a
										input(type="radio", name="license", value="a")
										.wrap-btn
											.icon
												img(src= imagePath + "automatic.svg", alt="Automat Logo", class="", id="automatic-logo")
											|Automat
									.button-license.am
										input(type="radio", name="license", value="am")
										.wrap-btn
											.icon
												img(src= imagePath + "manual.svg", alt="Manuell Logo", class="", id="manual-logo")
											|Manuell
							.home
								h3 Medlem
								.section

									div.select2.select2-container--default
										div.select2-selection--single
											span.select2-selection__rendered Sveriges Trafikskolors Riksförbund

									div.select2.select2-container--default
										div.select2-selection--single
											span.select2-selection__rendered Intensivkurs Stockholm

									script(type="text/x-template", id="select2-template")
										select
											slot
							input(type="submit" value="Se omdöme", class="btn-blue")
				.school-view
					button.close(v-on:click="closeSchoolView")
						span.icon
							img(src= imagePath + "arrow-down.svg", alt="arrow", class="svg")
					h2 Intensivkurs Stockholm
					p.description Kvalitet och miljörevision TA-2017
					.graph

					.table-statistic
						.row
							.col.col-sm-5
								p.label Kundsupport
							.col.col-sm-7
								.block-statistic
									.progress-bar.support(style="width:85%")
						.row
							.col.col-sm-5
								p.label Lärarlegitimation
							.col.col-sm-7
								.block-statistic
									.progress-bar.registrationTeacher(style="width:100%")
						.row
							.col.col-sm-5
								p.label Pedagogik
							.col.col-sm-7
								.block-statistic
									.progress-bar.pedagogical(style="width:95%")
						.row
							.col.col-sm-5
								p.label Miljöfordon
							.col.col-sm-7
								.block-statistic
									.progress-bar.cleanVehicles(style="width:90%")
						.row
							.col.col-sm-5
								p.label Rekommendation
							.col.col-sm-7
								.block-statistic
									.progress-bar.recommendation(style="width:95%")
					.contact-info
						.info-block.location Grimstagatan 160, 162 58 Vällingby
						.info-block.email info@vasterorttrafikskola.se
						.info-block.phone 08-533 301 01
						input.btn-blue(type="button", value="KONTAKTA OSS", data-target="#form-modal", data-toggle="modal")

				div.block-absolute-links(:class="{'open-view-info': schoolViewStatus}")
					a(href="https://www.instagram.com/vasterorttrafikskola/", target="_blank" id="instagram")
						.icon
							img(src= imagePath + "location-icon.svg", alt="mail Logo", class="svg")
					a.text-link(href="#") E-handel
					a.text-link(href="http://www.trbokning.se/elevportal/", target="_blank") Elevcentralen
					a(href="https://sv-se.facebook.com/www.vasterorttrafikskola.se/", target="_blank", id="facebook")
						.icon
							img(src= imagePath + "icon-facebook.svg", alt="facebook Logo", class="svg")
			// block CONTENT
			.content

				// start plan section
				section.b_section.plans
					.container
						h2.b_section_title Välj mellan olika körpaket

						ul.plans_tabs.nav.nav-tabs(role="tablist")
							li.active
								a(href="#intensive", aria-controls="intensive", role="tab", data-toggle="tab") Intensivpaket
							li
								a(href="#study", aria-controls="study", role="tab", data-toggle="tab") Övningspaket
							li
								a(href="#other", aria-controls="other", role="tab", data-toggle="tab") Övriga tjänster
							li
								a(href="#courses", aria-controls="other", role="tab", data-toggle="tab") Kurser

						.tab-content
							.tab-pane.active(role="tabpanel", id="intensive")
								.row
									- var list1 = ["Riskettan", "Risktvåan", "Körkortsboken", "Online teori"]
									+plan_tab("600","INGÅR I INTENSIVKURSEN", "3650", list1, "icon-time")

									- var list2 = ["10 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("800","INTENSIVPAKET 1 VECKA", "10500", list2, "icon-1", "active")

									- var list3 = ["15 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("800","INTENSIVPAKET 2 VECKOR", "14 000", list3, "icon-2")

									- var list4 = ["20 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("300","INTENSIVPAKET 3 VECKOR", "17 500", list4, "icon-3")

							.tab-pane(role="tabpanel", id="study")
								.row
									- var list5 = ["Riskettan", "Risktvåan", "Körkortsboken", "Online teori"]
									+plan_tab("600","Övningspaket", "3400", list5, "icon-1")

									- var list6 = ["10 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("800","Övningspaket", "6700", list6, "icon-2")

									- var list7 = ["15 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("800","Övningspaket", "9900", list7, "icon-3")

									- var list8 = ["20 Körlektioner", "50 min per körlektion", "Lånebil vid uppkörning", "Manuell eller Automati"]
									+plan_tab("300","Övningspaket", "13 000", list8, "icon-4")

							.tab-pane(role="tabpanel", id="other")
								.row
									+plan_tab("600","TEORIUNDERVISNING", "2000", "", "icon-tjanster")
										p För dig som är intresserad av extra hjälp med teorin så erbjuder vi en personlig undervisning. En personlig plan utarbetas och undervisningen finns på fyra olika språk.

									+plan_tab("800","SISTA MINUTEN", "395", "", "icon-sista")
										p För dig som är intresserad av körlektioner för halva priset så erbjuder vi en sista minuten lista. Skriv in dig och få ett meddelande av oss när ett sådant tillfälle dyker upp.

									+plan_tab("800","KVÄLL/HELG", "890", "", "icon-helg")
										p För dig som inte hinner med att övningsköra under veckodagarna mellan 07:00-18:00, får chansen att göra det med oss. Vi erbjuder kvälls- och helgkörning för 890 kr per körlektion.

									+plan_tab("300","LÅNEBIL", "1400", "", "icon-lanebil")
										p Lånebil gäller i 100 minuter, uppkörning inkl en övningslektion. Elever som inte är inskrivna i Västerort Trafikskola måste först bedömas vara lämpliga för en uppkörning.

							.tab-pane(role="tabpanel", id="courses")
								.row.flex-center
									+plan_tab("600","Introduktionskurs", "2000", "", "icon-kurser")
										p För dig som vill övningsköra privat är en introduktionskurs obligatorisk. Det gäller även den personen som du ska övningsköra med. Kursens mål är att öka förståelsen för trafiksäkerheten.

									+plan_tab("800","Riskettan", "395", "", "icon-kurser1")
										p En obligatorisk riskutbildning som kallas för Risk 1 för B-körkort. Med Risk 1 får du lära dig om riskerna med bland annat alkohol, droger och trötthet. Vi informerar även om dolda trafikrisker.

									+plan_tab("800","Risktvåan", "890", "", "icon-kurser2")
										p En obligatorisk riskutbildning som även kallas för halkbana för B-körkort. Syftet med denna kurs är att du ska lära dig hantera riskfyllda situationer och manövrering på halt underlag.

				// start school inform section
				section.b_section.regions.b_section-colored
					.container
						h2.b_section_title Välkommen till västerort trafikskola
						p.b_section_subtitle Här är våra övningsområden i Västerort
						.b_section_content
							
							.row

								+info_block("Hässelby", "Hässelby är ett område i Västerort i Stockholms kommun, vilket omfattar stadsdelarna Hässelby gård, Hässelby strand och Hässelby villastad. Stadsdelen har många bra övningsområden för tätort, cirkulationsplatser och vägar med dubbelkörfält.", "500", "hasselby")

								+info_block("Bromma", "Bromma är en närförort inom Västerort i Stockholms kommun med ett läge intill Stockholms innerstad. Stadsdelen är känd för att ha en komplex trafik med högt tempo. Trafikområdet är utmärkt för att testa kunskaper och förmågor.", "400", "bromma")

								+info_block("Spånga", "Spånga är samlingsnamnet för stadsdelarna inom Spånga-Tensta stadsdelsområde i Västerort inom Stockholms kommun. Spånga har många bra övningsområden för nybörjare. Trafikområdet erbjuder stora körfält med många trafikljuskorsningar.", "300", "spanga")
					
				// start MY MOVEMENT section
				section.b_section.traffic
					.container
						h2.b_section_title MITT I TRAFIKEN
						p.b_section_subtitle Att köra bil kräver kunskap och skicklighet. Därför har vi valt att öka förståelsen för vissa trafiksituationer med hjälp av Transportstyrelsens informationsfilmer
						.b_section_content
							.row
								.col.col-md-4.col-12
									img(src= imagePath + "auto1.png", alt="")
									p Ska man köra motsols? Vem har väjningsplikt? När ska man blinka i cirkulationsplatsen?

								.col.col-md-4.col-12
									img(src= imagePath + "auto2.png", alt="")
									p Vem är en gående? Vem är en fordonsförare? Bevakat eller obevakat övergångsställe?

								.col.col-md-4.col-12
									img(src= imagePath + "auto3.png", alt="")
									p Vem är cyklande? Vad är en cykelpassage? Vad är en cykelöverfart? Bevakad eller obevakad?

				// start MER INFORMATION section
				section.b_section.b_section-colored.more-inform
					.container
						h2.b_section_title Mer information
						p.b_section_subtitle Länkar till Transportstyrelse & Trafikverket
						.b_section_content

							.row

								+info_block("Körkortsbehörigheter", "I tabellen hos Transportstyrelsen kan du se vilken ålder som krävs för att du ska kunna ta körkort för de olika behörigheterna.", "500", "license")
									a.btn(href="https://www.transportstyrelsen.se/sv/vagtrafik/Korkort/har-korkort/fordon-du-far-kora/", target="_blank" ) Besök webbplatsen

								+info_block("Körkortstillstånd`", "Hos Transportstyrelsen kan du ansöka om körkortstillstånd för AM, A1, A2, A, B, BE och traktorkörkort.", "400", "category")
									a.btn(href="https://etjanst.transportstyrelsen.se/extweb/kktillstgrI", target="_blank" ) Besök webbplatsen

								+info_block("Boka förarprov", "I tjänsten Boka förarprov hos Trafikverket kan du boka och avboka prov för alla körkortsbehörigheter.", "300", "testing")
									a.btn(href="https://fp.trafikverket.se/Boka/#/", target="_blank" ) Besök webbplatsen

				// start CONTACTS section
				section.b_section.section-contact
					.container
						h2.b_section_title Välkommen att kontakta oss
						p.b_section_subtitle Kontakta oss gärna vid frågor om körkort, övningspacket eller övriga tjänster.

						.b_section_content

							ul.social-area.wow.zoomIn(data-wow-duration="1000ms", data-wow-delay="200ms", data-wow-offset="100")
								li

									// facebook
									a(href="https://sv-se.facebook.com/www.vasterorttrafikskola.se/", target="_blank")
										.icon
											img(src= imagePath + "icon-facebook.svg", alt="facebook Logo", class="svg")
										span fb.com/www.vasterorttrafikskola.se
								li
									// mail
									a(href="mailto:info@vasterorttrafikskola.se ", target="_blank")
										.icon
											img(src= imagePath + "icon-mail.svg", alt="mail Logo", class="svg")
										span info@vasterorttrafikskola.se 

								li
									// insta
									a(href="https://www.instagram.com/vasterorttrafikskola/", target="_blank")
										.icon
											img(src= imagePath + "insta_normal.svg", alt="mail Logo", class="svg")
										span vasterorttrafikskola
								li
									// phone
									a(href="tel:0853330101", target="_blank")
										.icon
											img(src= imagePath + "phone_normal.svg", alt="mail Logo", class="svg")
										span 08-533 301 01

							form.wow.zoomIn(action="#", method="", data-wow-duration="1000ms", data-wow-delay="200ms", data-wow-offset="100")
								input(type="text", name="name", placeholder="Namу")
								input(type="tel", name="tel", placeholder="Telefonnummer")
								input(type="email", name="email", placeholder="Email Adress")
								textarea(placeholder="Skriv ditt meddelande här")
								input(type="submit", value="SKICKA", class="btn-blue")

			// start ADS modal
			include pug_blocks/modals/ads

			// start FORM modal
			include pug_blocks/modals/form

			// start PACKET modal
			include pug_blocks/modals/packet

			// start LOADER
			.loader.bounceOutRight
				.icon

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcQed-XICEOIuLN8MHRzJ2GtX6D8g8IXs")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="assets/js/libs.js")
		script(src="https://unpkg.com/vue@2.4.2/dist/vue.js")
		script(src="assets/js/script.js")