.modal.fade(id="packet-modal", tabindex="-1", role="dialog", aria-labelledby="form" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
				h4.modal-title {{namePacket}} ({{pricePacket}})
			.modal-body
				form(action="http://www.intensivkursstockholm.se/front/users/package_information", method="post")
					input(type="hidden", name="package_type", v-model="pricePacket", readonly="true")
					div.form-group
						input(type="text", name="name", placeholder="Namn", required)
						.help-block
					div.form-group
						input(type="email", name="email", placeholder="Email Adress", required, data-error="Email address is invalid")
						.help-block
					div.form-group
						input(type="text", name="phone", placeholder="Telefonnummer", required, pattern="^[_A-z0-9]{1,}$")
						.help-block
					input(type="text", name="code", placeholder="Rabattkod")
					input(type="submit", value="SKICKA", class="btn-blue")
			.modal-footer